html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2E4052 !important;
}

.ListagemCard {
    padding: 40px;
    background: #68c3b7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListagemCard th {
    padding: 0 15px;
}

.ListagemCard th:not(th:last-of-type) {
    border-right: 3px solid #2E4052;
}